a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;

}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
line-height: 2.5;
}

.profile {
  border-radius: 50%;
  margin-top: 30px;
}
.skill-top {
  height: 200px;
  width:200px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-bottom {
  height: 200px;
  width:200px;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 6%;
}

.contact-me {
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;

}

.footer-link {
  padding: 30px;

}

.intro {
  width: 30%;
  margin: auto;
}

.BUTTON_JOW {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 223px;
   font-size: 26px;
   font-weight: 300;
   padding: 17px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_JOW:hover {
   border: solid #66BFBF 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.cpr {
  color: #EAF6F6;
  font-size: 0.75rem;
}
